* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/*code lucas*/
main {
  border: 2px solid red;
  width: 100%;
  height: 500px;
}
ul.testimonial {
  border: 3px solid blue;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
li.card {
  border: 2px solid yellow;
  width: 400px;
  /* display: flex; */
}
.card .card_profil {
  display: flex;
}
.card_profil img {
  width: 50px;
  clip-path: circle();
}
.card_profil .name {
  border: 2px solid red;
  margin: 0 10px;
}

/*code lucas*/
